:root {
    --color-text-in-web-and-btn: #4D5AE5;
    --color-text-in-menu-adress-h3-footer-bg: #2E2F42;
    --color-text-in-p: #434455;
    --background: #FFF;
    --button-color-hover: #404BBF;
    --border-btn: #E7E9FC;
    --box-shadow: #00000026;
    --cornflower: #E7E9FC;
}

        h1,h2,h3,h4,h5,h6,p {
    
            margin: 0;
            padding: 0;
        }

                ul,
                ol {
           margin: 0;
           padding: 0;          
           list-style-type: none;
                }

         li {
        list-style-type: none;
         }

    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto; 
    }
        .big-first-letter {
            text-transform: uppercase
        }

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.body-medium {
color: var(--color-text-in-menu-adress-h3-footer-bg);
font-weight: 500;
}

.logo {
    text-decoration: none;
}

.header-padding {
    padding: 24px 0;
}

.top-line {
border-bottom: 1px solid var(--cornflower);
background: var(--background)
}

header {
display: flex;
flex-wrap: wrap;
align-items: center;
}

ul {
    list-style-type: none;
}

:root {
    --navy-blue: #2e2f42;
    --iris: #4d5ae5;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --ocean: #404bbf;

}

.navigation-items {
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.navigation-items:hover {
    color: var(--ocean, #404BBF);
}

.navigation-contacts  {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.32px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin-left: auto
}

.main-padding {
    padding-top: 1px;
}

.hero {
    background-color: var(--color-text-in-menu-adress-h3-footer-bg);
    display: block;
    max-width: 1440px;
    text-align: center;
    padding: 188px 0;
}

    .contacts:hover,
    .contacts:focus,
    .contacts:active {
        color: var(--button-color-hover);
    }

    .navigation-contact {
        font-size: 16px;
        line-height: 1.5;
        color: var(--slate);
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0.32px;

    }

.page-title {

    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
    background-color: rgba(231, 233, 252, 1);
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.pointer:hover {
    color: white;
    background-color: rgba(64, 75, 191, 1);
}

.pointer-index {
    cursor: pointer;
    color: white;
    background-color: rgba(77, 90, 229, 1);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;line-height: 24px;
    letter-spacing: 0.64px;
}

.pointer-index:hover {
    color: white;
    background: var(--ocean, #404BBF);
}

.color-iris {
    color: rgba(77, 90, 229, 1);
}

.color-navb {
    color: rgba(46, 47, 66, 1);
}

.color-slate {
    color: rgba(67, 68, 85, 1);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.color-cloud {
    color: var(--cloud);
}

.title-index {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: white;
    font-style: normal;
    letter-spacing: 1.12px;
    display: block;
    max-width: 496px;
    margin: 0 auto;
}

.index-background {
    background-color: var(--navy-blue);
}

.h3-title {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.h2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--navy-blue);
    letter-spacing: 0.72px
}

.place-footer {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud);
}

.team-style {
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--navy-blue);
    background-color: var(--cloud, #F4F4FD);
}

.color-slates {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-shadow: 0px 4px 4px;
    color: #434455
}

.character-style {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.worker-design {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

a.pointer:hover {
    color: white;
    background-color: rgba(64, 75, 191, 1);
    text-transform: uppercase;
}
.visually-hidden {
display: none;
}
    


.top-line {
    border-bottom: 1px solid var(--cornflower);
    background: var(--background)
}

.header-padding {
    padding: 24px 0;
}

.body-medium {
color: var(--color-text-in-menu-adress-h3-footer-bg);
    font-weight: 500;
}