:root {
    --color-text-in-web-and-btn: #4D5AE5;
    --color-text-in-menu-adress-h3-footer-bg: #2E2F42;
    --color-text-in-p: #434455;
    --background: #FFF;
    --button-color-hover: #404BBF;
    --border-btn: #E7E9FC;
    --box-shadow: #00000026;
    --cornflower: #E7E9FC;
}

        h1,h2,h3,h4,h5,h6,p {
    
            margin: 0;
            padding: 0;
        }

                ul,
                ol {
           margin: 0;
           padding: 0;          
           list-style-type: none;
                }

         li {
        list-style-type: none;
         }

    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto; 
    }
        .big-first-letter {
            text-transform: uppercase
        }

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.body-medium {
color: var(--color-text-in-menu-adress-h3-footer-bg);
font-weight: 500;
}

.logo {
    text-decoration: none;
}

.header-padding {
    padding: 24px 0;
}

.top-line {
border-bottom: 1px solid var(--cornflower);
background: var(--background)
}

header {
display: flex;
flex-wrap: wrap;
align-items: center;
}

ul {
    list-style-type: none;
}

.navigation-items {
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.navigation-items:hover {
    color: var(--ocean, #404BBF);
}

.navigation-contacts  {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.32px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin-left: auto
}

.main-padding {
    padding-top: 1px;
}

.hero {
    background-color: var(--color-text-in-menu-adress-h3-footer-bg);
    display: block;
    max-width: 1440px;
    text-align: center;
    padding: 188px 0;
}

    .contacts:hover,
    .contacts:focus,
    .contacts:active {
        color: var(--button-color-hover);
    }

    .navigation-contact {
        font-size: 16px;
        line-height: 1.5;
        color: var(--slate);
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0.32px;

    }

.page-title {

    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
    background-color: rgba(231, 233, 252, 1);
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid;
    line-height: 1.5;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 76px;
}

.pointer:hover, .pointer:focus, .pointer:active {
background-color: var(--button-color-hover);
    color: var(--background);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.pointer-index {
    cursor: pointer;
    color: white;
    background-color: rgba(77, 90, 229, 1);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;line-height: 24px;
    letter-spacing: 0.64px;
}

.pointer-index:hover {
    color: white;
    background: var(--ocean, #404BBF);
}

.color-iris {
    color: rgba(77, 90, 229, 1);
}

.color-navb {
    color: rgba(46, 47, 66, 1);
}

.color-slate {
    color: rgba(67, 68, 85, 1);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--color-text-in-p)
}

.color-slate {
    padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        display: flex;
}

.navigation-items-left{
    font-size: 16px;
        line-height: 1.5;
        color: var(--navy-blue);
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
        padding-left: 76px;

}

.title-index {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: white;
    font-style: normal;
    letter-spacing: 1.12px;
    display: block;
    max-width: 496px;
    margin: 0 auto;
    color: var(--background);
}

.btn-style {
    display: block;
    padding-top: 48px;
}

.btn-padding {
    padding: 16px 32px;
    margin: auto;
}

.btn-in-hero {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--background);
    border-radius: 4px;
    background-color: var(--color-text-in-web-and-btn);
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
}

.btn-in-hero:hover,
.btn-in-hero:focus,
.btn-in-hero:active {
background-color: var(--button-color-hover);
}

.wawd {
    background-color: var(--background);
    color: var(--color-text-in-menu-adress-h3-footer-bg);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5;
        text-transform: capitalize;
}

.h3-title {
    padding-bottom: 8px;
}

.menu-ul-threephotos {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    flex-shrink: 0;
    padding-bottom: 120px;
    padding-top: 72px;
}

.menu-style-p2 {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
}

.ot {
    background-color: #F4F4FD;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}

.card-style {
    border-radius: 0px 0px 4px 4px;
    background: var(--background);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.menu-ul-ot {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-shrink: 0;
    padding-bottom: 120px;
    padding-top: 72px;
}

.menu-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    flex-shrink: 0;
    padding: 120px 0;
}

.width {
    width: 264px;
}

footer {
    background-color: var(--navyblue, #2E2F42);
}

.h3-title {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.h2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--navy-blue);
    letter-spacing: 0.72px;
    display: block;
    text-align: center;

}

.place-footer {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--navyblue, #2E2F42);
}

.footertext-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 264px;
    padding-bottom: 100px;
}

.logofooter-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 16px;
}

.team-style {
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--navy-blue);
    background-color: var(--cloud, #F4F4FD);
    text-align: center;
}

.color-slates {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-shadow: 0px 4px 4px;
    color: #434455
}

.character-style {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.worker-design {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

a.pointer:hover {
    color: white;
    background-color: rgba(64, 75, 191, 1);
    text-transform: uppercase;
}
.visually-hidden {
display: none;
}
    


.top-line {
    border-bottom: 1px solid var(--cornflower);
    background: var(--background)
}

.header-padding {
    padding: 24px 0;
}

.body-medium {
color: var(--color-text-in-menu-adress-h3-footer-bg);
    font-weight: 500;
}

.btn-padding-p2 {
    padding: 12px 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    flex-shrink: 0;
    padding-bottom: 120px;
}

.card-border {
    flex-wrap: wrap;
    outline: 1px solid var(--cornflower);
    background: var(--background);
}

.item {
    flex-basis: calc((100% - 96px) / 3);
}

.img-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
     max-width: 1128px;
    flex-shrink: 0;
    padding-bottom: 120px;
    padding-top: 72px;
}

.card-content-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding: 32px 16px;
}

.studiowh {
    color: #F4F4FD;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.313;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.article {
    color: var(--color-text-in-menu-adress-h3-footer-bg);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.description {
    color: var(--color-text-in-p)
}

footer {
    background-color:var(--navyblue, #2E2F42); 
}

.studio-color-second {
    color: var(--cloud, #F4F4FD);
    font-family: "raleway";
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}